<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand text-white" href="/">
            Haxball Dashboard
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/stats/1">Estadisticas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/rankings">Rankings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/blacklisted">Blacklisteados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/admins">Administradores</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
